---
import Page from "@layouts/Page.astro";
import { data } from "../data";
---
<Page title="Awesome Minestom">
    {data.map(category => (
        <section>
            <h2>{category.title}</h2>
            <ul>
                {category.items.map(item => (
                    <li><a
                        href={item.link}
                        target="_blank"
                        rel="noopener noreferrer"
                    >{item.name}</a> - {item.description}</li>
                ))}
            </ul>
        </section>
    ))}

    <p id="footer">made by <a href="https://mudkip.dev">mudkip</a></p>
</Page>