---
import Page from "@layouts/Page.astro";
import { data } from "../data";
---
<Page title="Awesome Minestom">
    <Fragment slot="meta">
        <meta name="theme-color" content="#FF6C32" />
        <meta property="og:title" content="minestom.rocks" />
        <meta property="og:description" content="A collection of awesome Minestom resources." />
    </Fragment>

{data.map(category => (
        <section>
            <h2>{category.title}</h2>
            <ul>
                {category.items.map(item => (
                    <li><a
                        href={item.link}
                        target="_blank"
                        rel="noopener noreferrer"
                    >{item.name}</a> - {item.description}</li>
                ))}
            </ul>
        </section>
    ))}

    <p id="footer">Made by <a href="https://mudkip.dev">mudkip</a>, star it on <a href="https://github.com/mudkipdev/minestom.rocks">GitHub.</a></p>
</Page>